<div id="title">
  <h1>Simón Cequea</h1>
<h3> MEAN STACK DEVELOPER</h3>

</div>

<article class="about">

  <div id="framework" class="about-items" >
    <h2>{{framework}}</h2>
    <div class="logos separator">
      <div class="logo"><img alt="TS" src="../../../assets/Images/Angular.svg"></div>
    </div>
  </div>

  <div id="lenguajes" class="about-items" >
  <h2>{{lenguajes}}</h2>
  <div class="logos separator">
    <div class="logo"><img alt="TS" src="../../../assets/Images/TS.svg"></div>
    <div class="logo"><img alt="JS" src="../../../assets/Images/JS.svg"></div>
    <div class="logo"><img alt="PHP" src="../../../assets/Images/PHP.svg"></div>
  </div>
</div>

  <div id="database" class="about-items" >
    <h2>{{database}}</h2>
    <div class="logos separator">
      <div class="logo"><img alt="TS" src="../../../assets/Images/SQL.svg"></div>
      <div class="logo"><img alt="JS" src="../../../assets/Images/MONGO.svg"></div>
    </div>
  </div>

</article>


